menuconfig LED_SUBSYSTEM
    bool "LED Subsystem"
    default y
    help
        help string can be multiline
        Like this one

if LED_SUBSYSTEM

config APP_HEARTBEAT_PERIOD_MS
    int "App hearbeat period (ms)"
    default 500
    range 100 2000

endif # LED_SUBSYSTEM
source "Kconfig.zephyr"